#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.popup {
  width: 400px;
  background: #ffff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  display: none;
  z-index: 99;
}

.popup #popupH2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup #popupBtn {
  width: 100px;
  margin-top: 30px;
  padding: 10px 0;
  background: #003262;
  color: white;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup .popupLogo {
  left: 50%;
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, alpha);
}

#popupBtn:hover {
  background-color: #f8b501;
}

#ex {
  display: inline-block;
}

#tick {
  display: none;
}

#student-summary {
  max-width: 80vw;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#listContainer{
  max-width: 80vw;
  flex: 1;
  overflow: auto;
  text-align: center;
}

#glossary {
  margin: 0;
  padding: 6px;
  position: absolute;
  cursor: pointer;
  top: 80px;
  right: 300px;
  border-bottom: solid #f8b501;
  display: none;
}

#glossary-text {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 100;
}

#glossary-text::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -13%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #0000 #0000 #000 #0000;
}

#glossary:hover #glossary-text {
  top: 180%;
  visibility: visible;
  opacity: 1;
}

a {
  color: #E0FFFF;
}

#signature {
  position: absolute;
  right: 13px;
  bottom: 13px;
  text-align: right;
}

.signature-content {
  margin: 0;
  display: inline;
}

#signature-content-id {
  color: white;
}

#made-by {
  color: #f8b501;
}

#announcement-content {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  word-wrap: break-word;
}

#announcements {
  background-color: #f8b501;
  width: 100vw;
  position: fixed;
  left: 0;
  height: 20%;
  bottom: 0;
}

#announcement-title {
  position: relative;
  left: 200px;
}

#show-password {
  color: white;
}

#signup-show-password {
  color: white;
}

.fa-eye {
  position: absolute;
  top: 35%;
  right: 5%;
  cursor: pointer;
}

#logo {
  margin-top: 130px;
  width: 80%;
}

#summary {
  margin-top: -150px;
  display: none;
}
  
#home {
  margin-top: -50px;
  display: block;
}

#signup {
  margin-top: 80px;
  display: none;
}

#login {
  margin-top: 160px;
  display: none;
}

#quickSearch {
  margin-top: 160px;
  display: none;
}

#forgotPassword {
  margin-top: 160px;
  display: none;
}

h1 {
  color: #f8b501;
}

span {
  display: inline;
  font: 1em sans-serif;
  font-size: medium;
  color: #f8b501;
}

ul {
  list-style: none;
  display: table;
  font: 1em sans-serif;
  font-size: 20px;
  border-spacing: 0 10px;
  /* border-collapse: collapse; */
}

li {
  display: table-row;
  /* border-bottom: 6px solid #333; */
}

b {
  display: table-cell;
  padding-right: 1em;
  font: 1em sans-serif;
  font-size: medium;
  text-align: left;
  color: white;
}

.dateStyle {
  background-color: #f8b501;
  color: #003262;
  border-radius: 10px;
  padding: 0.20em 0.20em;
}

#backBtn {
  display: inline-block;
  left: 0;
  width: auto;
}

body {
    background-color: #003262;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form {
  background-color: #003262;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  text-align: center;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 300;
  margin-top: 20px;
  text-align: left;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #003262;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 73px;
}

.cut-long {
  background-color: #003262;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 158px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .cut-long,
.input:not(:placeholder-shown) ~ .cut-long {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  font-size: medium;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #f8b501;
}

/* home button */
.homeBtn {
  background-color: white;
  border-radius: 18px;
  border: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
  font-size: small;
  height: 50px;
  margin-top: 20px;
  outline: 0;
  text-align: center;
  width: 90%;
  position: relative;
  border: solid 3px #08d;
  border-top: #003262;
  top: 100px;
}

.homeBtn:hover {
  background-color: #f8b501;
}

/* back button */
.back {
  font-family: sans-serif;
  color: white;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  outline: 0;
  text-align: center;
  width: 20%;
  position: relative;
  left: -120px;
}

.back:hover {
  color: #f8b501;
}

/* forgot passwrod button */
.forgot-password {
  font-family: sans-serif;
  color: white;
  background:none;
  border:none;
  margin-top: 20px;
  padding:0;
  cursor: pointer;
  outline: 0;
  text-align: center;
  position: relative;
  right: -70px;
}

.forgot-password:hover {
  color: #f8b501;
}

/* popup forgot passwrod button */
.forgot-password-popup {
  font-family: sans-serif;
  color: black;
  background:none;
  border:none;
  margin-top: 20px;
  padding:0;
  cursor: pointer;
  outline: 0;
  text-align: center;
  position: relative;
  right: -130px;
}

.forgot-password-popup:hover {
  color: #f8b501;
}

/* submit button */
.submit {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
  font-size: small;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  border: solid 3px grey;
  border-top: #003262;
}

.submit:hover {
  background-color: #f8b501;
}

/* transition loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003262;
  transition: opacity 0.75s, visibility 0.75s;
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #f8b501;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}